// Main Variables
$primary-color: #e3e3e3;
$secondary-color: #cb3737;
$show-home-image: true;
$home-image: url('../img/cover-img.jpg');
$background-opacity: 0.4;

// Color palette:
// https://colorhunt.co/palette/136570

// Animation
@mixin easeOut {
  transition: all 0.5s ease-out;
}

// Background & overlay
@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
      min-height: 100%;

      // Overlay
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

// =====================================

// Set Text Color - Function
@function set-text-color($backgroundColor) {
  @if (lightness($backgroundColor) > 40) {
    @return #392f2f;
  } @else {
    @return #fafafa;
  }
}

// =====================================

// Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 847px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 848px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}