// Widescreens
@include mediaXl {
  // Work / Projects Page
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// =====================================

// Desctops & Laptops
@include mediaLg {
  // Work / Projects Page
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// =====================================

// Tablets & Small Laptops
@include mediaMd {
  // Menu Sections - Flex Column
  .menu {
    flex-direction: column;
  }

  div.menu-branding, ul.menu-nav {
    width: 100%;
    min-height: 0;

    // &.show {
    //   transform: translate3d(0, 0, 0);
    // }
  }

  // Menu - Branding
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      width: 150px;
      height: 150px;
    }
  }

  // Menu - Navigation
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;

    .nav-item {
      transform: translate3d(100vw, 0, 0);
    }
  }

  // Main Section
  main {
    // align-items: center;
    text-align: center;

    .lg-heading {
      font-size: 340%;
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  // About Page - Grid
  .about-info {
    grid-template-areas:
    'bioimage'
    'bio'
    'about-box1'
    'about-box2'
    'about-box3';

    grid-template-columns: 1fr;
  }

  // Work / Projects Page
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

// =====================================

// Mobile Phones
@include mediaSm {
  // Disable background image
  // body#bg-img {
  //   background: $primary-color;
  // }

  main {
    padding: 2rem;
  }

  main#home h1 {
    font-size: 280%;
    margin-top: 10vh;
  }

  .lg-heading {
    margin-top: 1rem;
    font-size: 5rem;
  }

  // About Page
  .about-info .bio-img {
    width: 180px;
    height: 180px;
  }

  // Work / Projects Page
  .projects {
    grid-template-columns: 1fr;
  }

  // Contact Page
  .boxes div {
    font-size: 1.5rem;
    padding: 1rem 2rem;

    &:hover {
      padding: 1rem 2rem;
    }
  }
}