// Import variables & mixin from _config.scss
@import 'config';
@import 'menu';

// ==========================================

* {
  box-sizing: border-box;
}

body {
  // use mixin
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Inconsolata', monospace;
  line-height: 1.5;
  
  // Disable transition - Remove after page load (main.js)
  // Chrome bug
  &.preload * {
    transition: none !important;
  }
}

h1, h2, h3 {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;

  // same as "h1.lg-heading" in css | without "&" it will be "h1 .lg-heading"
  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
    
    &.home-descr {
      font-family: 'Inconsolata', monospace;
    }
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height: 100%;
  // Make footer fixed -> using calc funct for element above (main)
  min-height: calc(100vh - 60px);

  .icons {
    // was margin-top
    padding-top: 1rem;
    
    a {
      padding: 0.4rem;
      color: set-text-color($primary-color);

      &:hover {
        color: $secondary-color;
        // use mixin
        @include easeOut;
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

// ==========================================

// Grid - About Me Page
.about-info {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas: 
  'bioimage bio bio'
  'about-box1 about-box2 about-box3';
  grid-template-columns: repeat(3, 1fr);
  
  // Grid Areas
  .bio-img {
    grid-area: bioimage;
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 50%;
    border: solid 3px $secondary-color;
  }
  
  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }
  
  .about-box-1 {
    grid-area: about-box1;
  }
  
  .about-box-2 {
    grid-area: about-box2;
  }
  
  .about-box-3 {
    grid-area: about-box3;
  }
  // Grid Areas End

  .about-box {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: solid 5px $secondary-color;

    // List inside the About Box
    ul {
      list-style: none;
      li {
        i {
          color: $secondary-color;
          margin-right: 15px;
        }
      }
    }
  }
}

// ===========================================

// Grid - Work / Projects Page
.projects {
  display: grid;
  grid-gap: 1.4rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: solid 3px set-text-color($primary-color);

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// =============================================

// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: solid 3px set-text-color($primary-color);
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;
    
    &:hover {
      padding: 2rem 3rem;
      background: $secondary-color;
      color: #e3e3e3;
      span {
        color: #e3e3e3;
      }
    }
  }
}

// =============================================

// Button Styles
.btn {
  display: block;
  text-align: center;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: #e3e3e3;
    @include easeOut;
  }
}

// Extend example
.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  // color: #fff;
}

.btn-light {
  @extend .btn;
  background: darken($primary-color, 15);
  color: set-text-color($secondary-color);
  // color: #333;
}

// =========================================

// Footer - sticky (see 'main' styles)
#main-footer {
  text-align: center;
  font-size: 0.9rem;
  padding: 1rem;
  background: darken($primary-color, 10);
  height: 60px;
  font-family: 'Lato', sans-serif;
}

// =========================================

// Import Media Queries
@import 'mobile';